body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdownMenu {
  height: 30px;
  width: 50%;
}

.searchMenu {
  height: 30px;
  width: 50%;
}

.searchBar {
  padding-top: 5px;
  display: flex;
  width: 100%;
  height: 45px;
}

.dropdownBtn {
  background-color: white;
  width: 100px;
  height: 25px;
  border: 1px solid grey;
  box-shadow: 0px 0px 2px 0px grey;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 5px;
}

.resetBtn {
  background-color: white;
  border: 0px;
  border-radius: 0px;
  color: aqua;
  cursor: pointer;
  margin-left: 5px;
}

.searchLabel {
  text-decoration: none;
  color: rgb(65, 65, 65);
  position: absolute;
  right: 340px;
  margin-top: 8px;
}

.searchInput {
  position: absolute;
  width: 200px;
  right: 120px;
  height: 20px;
  margin-top: 5px;
  border-color: transparent;
  background-color: whitesmoke;
}

.addToCartBtn {
  position: absolute;
  color: white;
  border-radius: 0px;
  background-color: aqua;
  border: 0px;
  width: 100px;
  height: 35px;
  right: 10px;
  font-weight: 600;
  cursor: pointer;
}

.productAtt {
  width: 100%;
  height: 30px;
  background-color: whitesmoke;
  display: flex;
  padding: none;
  color: rgb(44, 44, 44);
  border-bottom: 1px solid black;
}

.productComponent {
  color: aqua;
  display: flex;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.productComponent a {
  text-decoration: none;
  color: aqua;
}

.buySection {
  width: 10%;
  display: flex;
}

.detailsDiv {
  width: 80%;
  display: flex;
}

.detailsDiv p {
  width: 25%;
  text-align: center;
  color: rgb(28, 169, 224);
}

.cartCheckbox {
  margin-left: 5px;
}

.productImg {
  width: 100px;
  height: 100px;
}

.numCart {
  width: 50px;
  height: 25px;
  margin-top: 15px;
  margin-right: 5px;
}

.cartLogo {
  margin-top: 15px;
  width: 80px;
  height: 25px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color: white;
  background-color: rgb(73, 73, 73);
}

.cartDiv {
  padding-left: 10px;
  padding-top: 20px;
}

.cartList {
  width: 60%;
  height: 100vh;
}

.cartTotals {
  width: 40%;
  height: 300px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 50px;
}

.checkoutSection {
  width: 100%;
  height: 100%;
  display: flex;
}

.cartProduct {
  display: flex;
  width: 96%;
  margin-top: 10px;
  margin-left: 2%;
  height: 100px;
}

.cartDetails {
  width: 100%;
  height: 25px;
}

.cartDetails ul {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
}

.alterButtons {
  width: 30px;
  height: 30px;
  border-radius: 2px solid black;
  margin-top: 50px;
  transform: translateY(-50%)
}